.uni-icon-size-default {
  width: 24px;
  width: var(--uni-icon-size-default, 24px);
  height: 24px;
  height: var(--uni-icon-size-default, 24px);
}

.uni-color-default {
  fill: #000;
  fill: var(--uni-color-default, #000);
}

.uni-color-primary {
  fill: #3f51b5;
  fill: var(--uni-color-primary, #3f51b5);
}

.uni-color-success {
  fill: #018786;
  fill: var(--uni-color-success, #018786);
}

.uni-color-accent {
  fill: #ff4081;
  fill: var(--uni-color-accent, #ff4081);
}

.uni-color-warn {
  fill: #f44336;
  fill: var(--uni-color-warn, #f44336);
}

@-webkit-keyframes uni-rotate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes uni-rotate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
