:root {
  --uni-icons-fa-brands-size: 44px;
  --uni-icons-fa-regular-size: 44px;
  --uni-icons-fa-solid-size: 44px;
  --uni-icons-mat-filled-size: 44px;
  --uni-icons-mat-outlined-size: 44px;
  --uni-icons-mat-round-size: 44px;
  --uni-icons-mat-sharp-size: 44px;
  --uni-icons-mat-two-tone-size: 44px;
}
