.uni-color-primary {
  color: #3f51b5;
  color: var(--uni-color-primary, #3f51b5);
  fill: #3f51b5;
  fill: var(--uni-color-primary, #3f51b5);
}

.uni-color-success {
  color: #018786;
  color: var(--uni-color-success, #018786);
  fill: #018786;
  fill: var(--uni-color-success, #018786);
}

.uni-color-accent {
  color: #ff4081;
  color: var(--uni-color-accent, #ff4081);
  fill: #ff4081;
  fill: var(--uni-color-accent, #ff4081);
}

.uni-color-warn {
  color: #f44336;
  color: var(--uni-color-warn, #f44336);
  fill: #f44336;
  fill: var(--uni-color-warn, #f44336);
}

.uni-filter-primary {
  filter: invert(31%) sepia(10%) saturate(6644%) hue-rotate(204deg) brightness(95%) contrast(89%);
  filter: var(--uni-color-primary-fix, invert(31%) sepia(10%) saturate(6644%) hue-rotate(204deg) brightness(95%) contrast(89%));
}

.uni-filter-success {
  filter: invert(26%) sepia(88%) saturate(1958%) hue-rotate(160deg) brightness(94%) contrast(99%);
  filter: var(--uni-color-success-fix, invert(26%) sepia(88%) saturate(1958%) hue-rotate(160deg) brightness(94%) contrast(99%));
}

.uni-filter-accent {
  filter: invert(48%) sepia(88%) saturate(3768%) hue-rotate(315deg) brightness(99%) contrast(106%);
  filter: var(--uni-color-accent-fix, invert(48%) sepia(88%) saturate(3768%) hue-rotate(315deg) brightness(99%) contrast(106%));
}

.uni-filter-warn {
  filter: invert(42%) sepia(40%) saturate(3627%) hue-rotate(336deg) brightness(93%) contrast(107%);
  filter: var(--uni-color-warn-fix, invert(42%) sepia(40%) saturate(3627%) hue-rotate(336deg) brightness(93%) contrast(107%));
}

.uni-size-lg {
  height: 48px;
  height: var(--uni-size-lg, 48px);
  width: 48px;
  width: var(--uni-size-lg, 48px);
}

.uni-size-md {
  height: 36px;
  height: var(--uni-size-md, 36px);
  width: 36px;
  width: var(--uni-size-md, 48px);
}

.uni-size-sm {
  height: 24px;
  height: var(--uni-size-sm, 24px);
  width: 24px;
  width: var(--uni-size-sm, 24px);
}

.uni-size-xs {
  height: 12px;
  height: var(--uni-size-xs, 12px);
  width: 12px;
  width: var(--uni-size-xs, 12px);
}

.uni-font-size-lg {
  font-size: 48px;
  font-size: var(--uni-size-lg, 48px);
}

.uni-font-size-md {
  font-size: 36px;
  font-size: var(--uni-size-md, 36px);
}

.uni-font-size-sm {
  font-size: 24px;
  font-size: var(--uni-size-sm, 24px);
}

.uni-font-size-xs {
  font-size: 12px;
  font-size: var(--uni-size-xs, 12px);
}
